In [1]:
import pandas as pd

In [4]:
# Mapping lets you format an entire DataFrame
file = "medianhhi"
file_df = pd.read_csv(file)
file_df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,Rank,County-equivalent,State,Per capita income,Median household income,Median family income,Population,Number of households
1,1,1,New York County,New York,"$62,498","$69,659","$84,627",1605272,736192
2,2,2,Arlington,Virginia,"$62,018","$103,208","$139,244",214861,94454
3,3,3,Falls Church City,Virginia,"$59,088","$120,000","$152,857",12731,5020
4,4,4,Marin,California,"$56,791","$90,839","$117,357",254643,102912

In [5]:
for name in file_df:

SyntaxError: unexpected EOF while parsing (<ipython-input-5-58277cc05590>, line 2)

In [ ]:
pd.concat([pd.file_df([i], columns=['2']) for i in range(5)],
...           ignore_index=True)
   A
0  0
1  1
2  2
3  3
4  4

In [18]:
import json
with open('mapjson.json') as data_file:    
    data = json.load(data_file)

In [19]:
data

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.