In [1]:
import pandas as pd

In [2]:
StatePop = pd.DataFrame(pd.read_csv("population.csv"))
StateDeath = pd.DataFrame(pd.read_csv("StateDeathsClean.csv"))

In [5]:
StateDeath = StateDeath.loc[(StateDeath["CauseName"] == "All Causes")]

In [6]:
StateDeath.columns

Index(['Year', 'CauseNameCode', 'CauseName', 'State', 'Deaths', 'AADR'], dtype='object')

In [4]:
StatePop.columns

Index(['Rank', 'State', '2018 Population', '2018 Growth', '% of US'], dtype='object')

In [7]:
Bubble_df = pd.merge(StateDeath, StatePop, how='inner', on="State")

In [9]:
Bubble_df.head()

,Year,CauseNameCode,CauseName,State,Deaths,AADR,Rank,2018 Population,2018 Growth,% of US
0,2015,All Causes,All Causes,Alabama,51909.0,924.5,24,4888949,0.002913,0.014904
1,2015,All Causes,All Causes,Alaska,4316.0,747.4,48,738068,-0.002334,0.002250
2,2015,All Causes,All Causes,Arizona,54299.0,671.8,14,7123898,0.015340,0.021717
3,2015,All Causes,All Causes,Arkansas,31617.0,901.8,33,3020327,0.005342,0.009207
4,2015,All Causes,All Causes,California,259206.0,621.6,1,39776830,0.006075,0.121259

In [11]:
Bubble_df = Bubble_df.drop(["CauseNameCode","Year","Rank","2018 Growth","% of US"], axis=1)
Bubble_df.head()

    CauseName       State    Deaths   AADR  2018 Population
0  All Causes     Alabama   51909.0  924.5          4888949
1  All Causes      Alaska    4316.0  747.4           738068
2  All Causes     Arizona   54299.0  671.8          7123898
3  All Causes    Arkansas   31617.0  901.8          3020327
4  All Causes  California  259206.0  621.6         39776830

In [12]:
Bubble_df = Bubble_df.rename(columns={"2018 Population":"Population"})

In [13]:
Bubble_df.head()

    CauseName       State    Deaths   AADR  Population
0  All Causes     Alabama   51909.0  924.5     4888949
1  All Causes      Alaska    4316.0  747.4      738068
2  All Causes     Arizona   54299.0  671.8     7123898
3  All Causes    Arkansas   31617.0  901.8     3020327
4  All Causes  California  259206.0  621.6    39776830

In [14]:
Bubble_df.to_csv("BubbleData.csv")